head
    meta(name='viewport', content='initial-scale=1.0')
    meta(name='robots', content='noindex, nofollow')
    script(src = 'https://code.jquery.com/jquery-2.2.4.min.js')
    // script(src = '/static/js/bundle.min.js')
